.form {
    min-height: 300px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    input {
        width: 100%;
    }
}

.buttons {
    display: flex;
    justify-content: space-between;
}
